body {
  --twitter-color: rgb(67, 67, 230);
  --twitter-background: #e6ecf0;
}
.app {
  display: flex;
  height: 100vh;
  max-width: 1300px !important;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}
